.btn {
  background-color: #c24e1b;
  border: 1px solid rgb(250, 125, 52);
  color: white;
  padding: 12px 24px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #a63f15;
  transform: scale(1.05);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  color:rgb(222, 32, 32);
  font-weight: bolder;
}
