#user-login-form {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('/images/image2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.form-container {
    background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
  }
  .error-style{
    color: red;
  }
  #reg-here{
    color: rgb(94, 236, 94);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
  }
  a{
    text-decoration: none;
  }